main,
.stats-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  width: 100dvw;
}

main {
  margin: 0 0 30px 0;
}

.stats-container {
  border-left: solid 3px var(--cor-cinza-escuro);
  flex-direction: column;
  align-items: center;
  width: 60%;
}